.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action-button {
  padding: 16px;
  margin: 4px;
  border-radius: 50%;
  font-weight: bolder;
  outline: 0;
  text-decoration: none;
  border: none;
  display: inline-block;
}

.action-button:enabled {
  background-color: #226193;
  color: #3fd8db;
  cursor: pointer;
}

.action-button:disabled {
  background-color: #e7e7e7;
  color: #226193;
}

.page-count {
  color: #226193;
}
